@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Poppins' sans-serif;*/
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: normal;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 1rem;
}

.container {
  width: 90%;
  /*max-width: 960px;*/
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

@media (max-width: 760px) {
  .container {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
}

.header .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .mobile-menu {
  display: none;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form,
.content {
  width: 100%;
  margin: 0 auto;
}

.form {
  margin: 0.5rem 0.3rem;
  padding: 0.1rem 0.5rem;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}

label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  font-size: 14px;
}
.fav-team {
  display: grid;
  grid-template-columns: 35% auto;
  align-items: center;
  gap: 5%;
  width: 80%;
  margin: 10px auto;
}
.fav-team label {
  font-size: 13px;
  font-weight: 600;
}

.fav-team input,
.fav-team select {
  width: 100%;
  padding: 10px;
  border: 1px solid #acacb0;
  /*border-radius: 5px;
  margin-bottom: 10px;*/
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
}
.team-name-1 {
  padding: 10px 0;
}
.name-warning {
  font-size: 12px;
  font-style: italic;
}
.m-auto {
  margin: auto;
}

.btn {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-small {
  padding: 2.5px 5px;
}

.danger {
  background-color: darkred;
  color: #fff;
}

.btn-danger {
  background: rgba(219, 12, 12, 0.8);
  border-radius: 0;
}
.btn-danger:hover {
  background: rgba(219, 12, 12, 1);
}
.btn-green {
  background: rgb(65, 149, 65);
}
.btn-green:hover {
  background: rgb(65, 149, 65, 0.8);
}
.btn-green:disabled {
  background: rgba(122, 122, 122, 0.1);
  color: rgba(0, 0, 0, 0.3);
}
.btn-warning {
  color: #bfc372;
}
.btn-ready {
  color: orange;
}
.btn-info {
  outline: none;
  border: none;
  padding: 0.2rem;
  margin: 0.2rem 0;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", "Segoe UI", "Arial";
  font-weight: 600;
}
.btn-info-block {
  width: 100%;
  padding: 0.6rem 0;
}
.infobuttons {
  padding: 0 0.3rem 0.2rem;
  display: grid;
}
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.btn-close {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn-hide {
  visibility: hidden;
}

.player-info-button,
.player-info-button-table {
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  height: 16px;
}

.btn-block {
  width: 80%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Admin Dashboard */
.dashboard-header {
  display: grid;
  gap: 5px;
  /*grid-template-columns: minmax();*/
  grid-template-columns: repeat(4, 1fr);
}

.header-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}

.header-element p {
  line-height: normal;
  font-size: 0.9rem;
}

.player-stats-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 20px 0;
}

.dashboard {
  margin-bottom: 5px;
}

.dashboard ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div-wrapper {
  /*display: grid;
  grid-gap: 5px;*/
  height: 650px;
  padding: 1rem 0;
}
.content-wrapper,
.content-wrapper-1,
.content-wrapper-2 {
  display: grid;
  grid-gap: 5px;
  place-items: center;
}

.content-wrapper {
  grid-template-columns: repeat(5, 1fr);
  padding: 5px 0;
}

.content-wrapper-1 {
  grid-template-columns: repeat(6, 1fr);
  padding: 5px 0;
}

.content-wrapper-2 {
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0;
}

.content-wrapper:nth-of-type(odd),
.content-wrapper-1:nth-of-type(odd),
.content-wrapper-2:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.content-wrapper-3 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.teams {
  display: grid;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  background: rgba(95, 230, 129, 0.3);
}

.teams div {
  display: grid;
  align-items: center;
}

.home {
  grid-template-columns: 60% 20% 20%;
}

.away {
  grid-template-columns: 20% 20% 60%;
}

.home img,
.away img {
  width: 25px;
}

.team {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.home .team {
  text-align: right;
  padding-right: 0.5rem;
}

.away .team {
  text-align: left;
  padding-left: 0.5rem;
}

.date {
  width: 100%;
  background: #1f2470;
  padding: 0.2rem 0;
  color: #fff;
}

.score {
  background: #1f2470;
  padding: 0.5rem;
  color: #fff;
}

.home .score {
  border-right: 2px solid #fff;
}

.away .score {
  border-left: 2px solid #fff;
}

.bg-teams {
  background: #e1f6e1;
  border-left: 5px solid rgb(21, 90, 21);
}

.burger-container {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: none;
}

.burger-line,
.burger-line-1,
.burger-line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
}

.burger-line-1 {
  transform: translateY(7px);
}

.burger-line-2 {
  transform: translateY(14px);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding: 0.2rem 0;
  margin-top: 0.3rem;
  font-size: 11px;
}

.info-container > div {
  background: aliceblue;
  padding: 0.3rem;
}

.player {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.1rem 0;
}

.stats {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-size: 11px;
}

.deadline {
  font-size: 12px;
  font-weight: 700;
  padding: 0.5rem 0;
  display: grid;
  place-items: center;
}

.buttons-group {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  column-gap: 0.5rem;
  flex-direction: row-reverse;
}

.time-1 {
  text-align: right;
  padding-right: 1px;
}

.time-2 {
  padding-left: 1px;
  text-align: left;
}

.fixture {
  background: aliceblue;
}

.squad {
  grid-area: squad;
}

.players-col {
  grid-area: playersCol;
}

.div-wrapper {
  grid-area: divWrapper;
}

.team-selection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "squad playersCol"
    "divWrapper playersCol";
  gap: 20px;
}

/* Player Column */
.players-container {
  /*margin: 0.5rem 0.2rem;
  padding-top: 0.3rem;*/
}

/* Squad */
.transfer-header {
  margin: 0 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem 0;
}
.players-heading-container {
  margin: 0.5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gw-heading {
  font-size: 13px;
}
.matchday-deadline {
  display: flex;
  justify-content: center;
  column-gap: 0.3rem;
  padding: 0.7rem 0;
  align-items: center;
}
.matchday-deadline h4 {
  font-size: 12px;
  font-weight: 400;
}
.matchday-deadline p {
  font-weight: 600;
}
.players-money-select {
  display: flex;
  position: relative;
}
.vertical {
  width: 1px;
  height: 50px;
  background: black;
  position: absolute;
  top: 10px;
  left: 50%;
}
.horizontal {
  position: absolute;
  width: 80%;
  height: 1px;
  background: black;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.players-select {
  flex: 1 1 0%;
  margin: 1rem 0;
  text-align: center;
}

.players-selected,
.money-selected {
  margin: 0.5rem;
  display: inline-block;
  padding: 0 1rem;
}

.select-heading,
.money-heading {
  font-size: 12px;
  color: rgb(122, 122, 122);
}

.players-money {
  margin: 1rem 0;
  flex: 1 1 0%;
  text-align: center;
}
.bad {
  background: darkred;
  color: white;
}
.good {
  background: darkgreen;
  color: white;
}
.auto-reset {
  display: flex;
  justify-content: space-around;
}

.fpl-buttons {
  text-align: center;
  flex: 0 0 calc(33.3333% - 0.5rem);
}
.btn-auto-reset {
  width: 100%;
  flex: 1 1 0%;
  padding: 0.5rem;
  font-size: 12px;
  border: 0px none;
  color: rgb(122, 122, 122);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 8px 0px;
  cursor: pointer;
}

.hides {
  display: none;
}

@media (max-width: 760px) {
  .team-selection {
    display: block;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;*/
  }
  .players-col {
    /*display: none;*/
  }
}

.player-numbers {
  padding: 0.2rem 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  /*font-family: 'Montserrat';*/
  border-bottom: 1px solid rgba(22, 22, 68, 0.1);
  background: rgb(0 255 255 / 40%);
  color: rgba(22, 22, 68, 1);
  font-size: 12px;
}

.player-numbers .number {
  font-weight: 600;
}

.players-table {
  padding: 0.2rem;
  /*height: 710px;
  overflow-x: auto;*/
}

#goalkeepers .player-header {
  background: #ebff00;
  border: 1px solid transparent;
}
#defenders .player-header {
  background: #00ff87;
  border: 1px solid transparent;
}
#midfielders .player-header {
  background: #05f0ff;
  border: 1px solid transparent;
}
#forwards .player-header {
  background: #e90052;
  border: 1px solid transparent;
}

.player-tbh {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  column-gap: 20px;
}
.player-tbh:not(.player-tbh:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.player-header {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  column-gap: 20px;
  font-weight: 700;
  border: 1px solid transparent;
  text-align: left;
}

.player-header .info,
.player-tbh .info {
  width: 16px;
  text-align: center;
}
.position-table {
  font-style: italic;
  font-weight: 700;
  overflow: hidden;
  font-size: 13px;
  width: 60%;
}

.player-cell .images {
  margin-right: 0.3rem;
}

.money {
  width: 10%;
}
.others {
  width: 20%;
}
.money,
.others {
  font-size: 10px;
  text-align: center;
}

.price {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.price,
.points {
  display: inline-block;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 11px;
}
.player-cell {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  width: 80%;
  margin: 0.3rem;
}
.player-cell img {
  width: 24px;
}
@media (max-width: 575px) {
  .player-cell img {
    width: 20px;
  }
}
.player-cell.active {
  border-color: rgba(233, 0, 82, 100);
}
.player-cell-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  width: 110px;
}
.player-cell-info .name {
  text-align: left;
  text-align: -webkit-left;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.name {
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player-cell-details {
  padding-left: 0.2rem;
  display: flex;
  font-size: 12px;
}

.position {
  display: block;
  margin-left: 0.3rem;
}
.btn-table {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

/* Picks */
.pitch {
  background: #00ae55;
  margin: 0 auto;
  padding: 0.3rem;
}
.pitch_row {
  display: grid;
  grid-template-columns: repeat(5, calc(90% / 5));
  padding-bottom: 0.3rem;
  justify-content: center;
  column-gap: 2.5%;
  min-height: 100px;
  padding-top: 0.3rem;
}

@media (max-width: 620px) {
  .pitch_row {
    column-gap: 1%;
    grid-template-columns: repeat(5, calc(96% / 5));
  }
}
.pitch_unit {
  flex: 1 1 0%;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;*/
}
.details-cont {
  width: 100%;
}
.data_name {
  /*border: 1px solid transparent;*/
  width: 100%;
  padding: 0.3rem;
  background-color: whitesmoke;
  color: rgba(0, 0, 55, 0.9);
  font-size: 0.825rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.default_name {
  height: 10px;
  background: #a8aaae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.default_price {
  height: 10px;
  background: #fefdfe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.data_price {
  background: green;
  padding: 0.2rem 0;
  font-size: 0.75rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: whitesmoke;
}
@media (max-width: 640px) {
  .data_name {
    font-size: 0.7rem;
    padding: 0.2rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .data_price {
    font-size: 0.625rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.btn-details {
  display: block;
  padding: 0.1rem;
  outline: none;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  font-weight: bolder;
  font-family: "Montserrat", "Segoe UI", "Arial";
  border-radius: 5px;
  border: 1px solid transparent;
}
.image_pic {
  width: 44px;
  height: 65px;
}
@media (max-width: 620px) {
  .image_pic {
    width: 33px;
    height: 46.5px;
  }
}

.button-controls {
  display: flex;
  justify-self: stretch;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /*box-shadow: black 0 0 2px;*/
  background: aliceblue;
}
.button-controls img,
.prev_next img {
  width: 25px;
}
.btn-controls {
  color: rgba(0, 255, 255, 100);
  outline: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1);
  padding: 0.3rem;
  margin: 0 0.2rem;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: 0.7rem;
}
.player-list {
  border-radius: 0;
  background: white;
  color: black;
  border: 0;
  display: none;
}
.btn:disabled {
  opacity: 0.5;
}
@media (max-width: 760px) {
  .player-list {
    display: block;
  }
}
@media (max-width: 620px) {
  .button-controls img,
  .prev_next img {
    width: 15px;
  }
}
.pages {
  padding: 0.2rem;
  color: rgba(22, 22, 68, 1);
}
.pages .current {
  font-weight: 700;
}

/* Squad */
.squad {
}

footer {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 760px) {
  body {
    font-size: 0.9rem;
  }
  h1,
  h2,
  h3,
  .header {
    font-size: 0.9rem;
  }
  .header .main-menu {
    display: none;
  }
  .header .mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1.5rem;
    right: 1.5rem;
    align-items: center;
    padding: 2rem 0;
    margin-top: 2.5rem;
    background: white;
    row-gap: 0.5rem;
    top: 1.5rem;
    box-shadow: 0px 5px 5px #0000003d;
    z-index: 2;
  }
  .burger-container {
    display: block;
  }
  .dashboard-header,
  .player-stats-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo {
    font-size: 1.2rem;
  }
  .dashboard ul {
    font-size: 0.8rem;
  }
  .form {
    width: 100%;
  }
}

/* Pagination */
ul.react-paginate {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5rem;
}

ul.react-paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
}
ul.react-paginate li.selected a {
  background-color: #121a23;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
ul.react-paginate li.disabled a {
  color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}

/* Modal Popups */
.playerpopup {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(23, 255, 23, 0.3);
  z-index: 9;
}
.playerpop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  height: fit-content;
  margin: auto;
  background: white;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
  border-radius: 10px;
}

.namesection {
  padding: 0.8rem;
  margin-bottom: 0.2rem;
  color: rgba(22, 22, 68, 1);
  background: aqua;
  font-family: "Montserrat", "Segoe UI", "Arial";
  font-weight: 600;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.namesection span {
  display: block;
  text-align: center;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.2rem 0 0.2rem 2.5rem;
}

.ns-btn {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

@media (max-width: 620px) {
  .playerpop,
  .playerpop1 {
    width: 95vw;
  }
}

/* Error Messages */
.message {
  padding: 0.4rem;
  text-align: center;
  font-weight: 600;
}

.success-span-msg,
.danger-span-msg {
  display: block;
  font-size: 12px;
  padding: 0.4rem;
  margin: auto;
  color: white;
}

.success-span-msg {
  background: #044e04;
}

.danger-span-msg {
  background: darkred;
}
