@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Poppins' sans-serif;*/
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: normal;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.header .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .mobile-menu {
  display: none;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}



.form,
.content {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background:  #000;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-small {
  padding: 2.5px 5px;
}

.btn-danger {
  color: rgba(160, 11, 11, 1.0);
}
.btn-warning {
  color: #bfc372;
}
.btn-ready {
  color: orange;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.btn-close {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-hide {
  visibility: hidden;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Admin Dashboard */
.dashboard-header {
  display: grid;
  gap: 5px;
  /*grid-template-columns: minmax();*/
  grid-template-columns: repeat(4, 1fr);
}

.header-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.2);
  background: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}

.header-element p {
  line-height: normal;
  font-size: 0.9rem;
}

.player-stats-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 20px 0;
}

.dashboard {
  margin-bottom: 5px;
}

.dashboard ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div-wrapper {
  display: grid;
  grid-gap: 5px;
}
.content-wrapper, .content-wrapper-1, .content-wrapper-2 {
  display: grid;
  grid-gap: 5px;
  place-items: center;
}

.content-wrapper {
  grid-template-columns: repeat(5, 1fr);
  padding: 5px 0;
}

.content-wrapper-1 {
  grid-template-columns: repeat(6, 1fr);
  padding: 5px 0;
}

.content-wrapper-2 {
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0;
}
 
.content-wrapper:nth-of-type(odd), 
.content-wrapper-1:nth-of-type(odd),
.content-wrapper-2:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.content-wrapper-3 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.teams {
  display: grid;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  background: rgba(95, 230, 129, 0.3);
}

.teams div {
  display: grid;
  align-items: center;
}

.home {
  grid-template-columns: 60% 20% 20%;
}

.away {
  grid-template-columns: 20% 20% 60%;
}

.home img, .away img {
  width: 25px;
}

.team {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.home .team {
  text-align: right;
  padding-right: 0.5rem;
}

.away .team {
  text-align: left;
  padding-left: 0.5rem;
}

.date {
  width: 100%;
  background: #1f2470;
  padding: 0.2rem 0;
  color: #fff;
}

.score {
  background: #1f2470;
  padding: 0.5rem;
  color: #fff;
}

.home .score {
  border-right: 2px solid #fff;
}

.away .score {
  border-left: 2px solid #fff;
}

.bg-teams {
  background: #e1f6e1;
  border-left: 5px solid rgb(21, 90, 21);
}

.burger-container {
  width: 24px;
  height: 24px;;
  position: relative;
  cursor: pointer;
  display: none;
}

.burger-line, .burger-line-1, .burger-line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
}

.burger-line-1 {
  transform: translateY(7px);
}

.burger-line-2 {
  transform: translateY(14px);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding: 0.2rem 0;
  margin-top: 0.3rem;
  font-size: 11px;
}

.info-container > div {
  background: aliceblue;
  padding: 0.3rem;
}

.player {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.1rem 0;
}

.stats {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-size: 11px;
}

.deadline {
  font-size: 12px;
  font-weight: 700;
  padding: 0.5rem 0;
  display: grid;
  place-items: center;
}


.buttons-group {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  column-gap: 0.5rem;
  flex-direction: row-reverse;
}

.time-1 {
  text-align: right;
  padding-right: 1px;
}

.time-2 {
  padding-left: 1px;
  text-align: left;
}

.fixture {
  background: aliceblue;
}

.team-selection {
  display: grid;
  grid-template-columns: 65% 35%;
}

footer {
  margin-top: 20px;
  padding: 10px;
}

@media (max-width: 760px) {
  body {
    font-size: 0.9rem;
  }
  h1,
  h2,
  h3,
  .header {
    font-size: 0.9rem;
  }
  .header .main-menu {
    display: none;
  }
  .header .mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1.5rem;
    right: 1.5rem;
    align-items: center;
    padding: 2rem 0;
    margin-top: 2.5rem;
    background: white;
    row-gap: 0.5rem;
    top: 1.5rem;
    box-shadow: 0px 5px 5px #0000003d;
    z-index: 2;
  }
  .burger-container {
    display: block;
  }
  .dashboard-header, .player-stats-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .logo {
    font-size: 1.2rem;
  }
  .dashboard ul {
    font-size: 0.8rem;
  }
  .form {
    width: 90%;
  }
}

/* Pagination */
ul.react-paginate {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5rem;
}

ul.react-paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
}
ul.react-paginate li.selected a {
  background-color: #121a23;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
ul.react-paginate li.disabled a {
  color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}
